.apresentacao{
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  align-items: center;
  line-height: 2em;
}
.apresentacao h1{
  font-size: 1.8em;
  margin-top: 0.4em;
  color: #FF7C14;
}
.apresentacao h3{
  margin-bottom: 4em;
  font-size: 1.4em;
  color: #828282;
}
.apresentacao a{
  padding: 1em 4em;
  border-radius: 1em;
  background-color: #EF8C24;
  animation: linear;
}
.apresentacao a:hover{
  background: #EDAB46;
  transition: 0.4s;
}
.apresentacao img{
  width: 30em;
}