.avaliados{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 -23.5%;
    padding: 5em;
    background: #EDAB46;
}
.bem_avaliados{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3em;
}
.avaliados img{
    width: 10em;
    animation: linear;
    cursor: pointer;
}
#right2, #left2{
    width: 3em;
}
#left2{
    rotate: 180deg;
}
.avaliados img:hover{
    scale: 1.1;
    transition: 0.5s;
}
