.cachorros {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 -33.3%;
  padding: 3em;
  background: #EDAB46;
}

.title {
  font-family: 'LuckiestGuy';
  font-size: 2em;
  letter-spacing: 0.1em;
  color: #fff;
  margin: 0;
  margin-bottom: 1em;
}
.container_scroll{
  display: flex;
  gap: 5em;
}
#left{
  rotate: 180deg;
  cursor: pointer;
}
#right{
  cursor: pointer;
}
.container {
  display: flex;
  width: 48em;
  border-radius: 1em;
  align-self: center;
  overflow: hidden;
}

.carrossel {
  display: flex;
  gap: 3em;
  transition: margin 0.5s;
}

.boxes {
  display: flex;
  align-items: center;
  width: 14em;
  gap: 0.4em;
  flex-direction: column;
  border-radius: 0.5em;
  background-color: #fff;
}

.boxes img {
  width: 10em;
}

.boxes h4,
.boxes h3 {
  margin: 0;
}

.boxes a {
  padding: 0.8em 2em;
  border-radius: 1em;
  margin: 0.5em;
  background-color: #FFC145;
}
.boxes a:hover {
  background-color: #EDAB46;
}
.checkbox{
  margin-top: 2em;
  display: flex;
  align-self: center;
}
input[type="radio"]{
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  animation: linear;
  border: #fff solid 0.08em;
  box-shadow: inset 0.04em 0.3em 0.1em #00000020;
  background-color: #FF8F36;
}
input[type="radio"]:checked{
  background-color: #FF7101;
  transition: 1s;
}