footer{
    display: flex;
    height: 16em;
    align-items: center;
    justify-content: space-around;
    margin: 0 -23.5%;
    background: #000;
}
footer  img{
    width: 10em;
}
footer a {
    display: flex;
    align-items: center;
    gap: 0.6em;
}
footer a img{
    width: 1.4em;
}
footer div{
    display: flex;
    flex-direction: column;
    line-height: 2em;
}
footer h3{
    color: #fff;
}

@media (max-width: 1000px){
    footer{
        justify-content: space-evenly;
    }
    footer div{
        line-height: 1em;
    }
    footer img{
        width: 8em;
    }
  }
  @media (max-width: 700px){
    footer{
        justify-content: space-evenly;
    }
    footer div{
        line-height: 0.8em;
    }
    footer img{
        width: 6em;
    }
  }