header{
  display: flex;
  position: sticky;
  height: 6em;
  margin: 0 -23.5%;
  padding: 0 23%;
  top: 0;
  justify-content: space-between;
  align-items: center;
  animation: ease-in;
  z-index: 9999;
}
.logo{
  width: 4em;
  padding: 0.5em 0.4em;
  border-radius: 1em;
  background-color: #fff;
}
.svg-container {
  z-index: -1;
  width: 84vw;
  position: absolute;
  overflow: hidden;
}
.selec, nav{
  display: flex;
  gap: 1.5em;
  gap: 1.5em;
  font-size: 1.4em;
  font-weight: 600;;
}
a{
  font-size: 0.8em;
  color: #fff;
}
.selec img{
  cursor: pointer;
  z-index: 1;
  z-index: 1;
}
.lupa{
  height: 1.8em;
  height: 1.8em;
  border-radius: 0.5em;
  padding: 0.3em;
  z-index: 2;
  background-color: #EDAB46;
}
.search{
  display: flex;
  align-items: center;
  background-color: #EDAB46;
}
.search{
  display: flex;
  align-items: center;
}
input[type="search"]{
  width: 10em;
  height: 2.2em;
  border-radius: 0.4em;
  border: none;
  padding: 0;
  margin-left: -2.1em;
  margin-left: -2.1em;
  animation: linear;
  z-index: 0;
  padding-left: 2.6em;
  padding-right: 1em;
  font-size: 1.2em;
  z-index: 0;
  padding-left: 2.6em;
  padding-right: 1em;
  font-size: 1.2em;
}
input[type="search"]:focus{
  outline: none;
}

@media (max-width: 1000px) {
  .logo{
    width: 3em;
  }
  input[type="search"]{
    width: 10em;
  }
  nav{
    gap: 0.5em;
    font-size: 1em;
  }
  .lupa{
    padding: 0.1em 0.5em;
  }
  img{
    width: 1em;
  }
}
@media (max-width: 700px) {
  .logo{
    width: 2em;
  }
  input[type="search"]{
    width: 8em;
  }
  nav{
    gap: 0.5em;
    font-size: 1em;
  }
  .lupa{
    padding: 0.1em 0.5em;
  }
  img{
    width: 1em;
  }
}