.sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em -23.5%;
    overflow: hidden;
}
.sessao h1{
    font-family: 'LuckiestGuy';
    font-size: 2em;
    letter-spacing: 0.1em;
    color: #EDAB46;
    margin: 0;
    margin-bottom: 1em;
}
.tipos{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    gap: 4em;
}
.tipo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tipo h4{
    font-size: 1.1em;
}
.tipos img{
    width: 8em;
    background-color: #EDAB46;
    padding: 1em;
    border-radius: 50%;
    animation: linear;
    cursor: pointer;
}
.sessao img:hover{
    scale: 1.1;
    transition: 0.5s;
}
.container_grid{
    display: flex;
    gap: 1em;
    animation: linear;
}
.grid{
    display: grid;
    width: 100vw;
    margin: 0 4%;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2em;
    transition: 2s;
}
.boxes{
    justify-content: space-evenly;
    justify-self: center;
}
.boxes h4{
    display: flex;
    text-align: center;
}
