.sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em -23.5%;
    overflow: hidden;
}
.sessao h1{
    font-family: 'LuckiestGuy';
    font-size: 2em;
    letter-spacing: 0.1em;
    color: #EDAB46;
    margin: 0;
    margin-bottom: 1em;
}
.tipos{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;
    gap: 4em;
}
.tipo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tipo h4{
    font-size: 1.1em;
}
.tipos img{
    width: 8em;
    background-color: #EDAB46;
    padding: 1em;
    border-radius: 50%;
    animation: linear;
    cursor: pointer;
}
.sessao img:hover{
    scale: 1.1;
    transition: 0.5s;
}
.container_grid{
    display: flex;
    gap: 1em;
    position: relative;
    right: 0%;
    animation: linear;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 5%;
    width: 100vw;
    row-gap: 2em;
    transition: 2s;
}
.boxes{
    justify-content: space-evenly;
    justify-self: center;
}
.boxes h4{
    display: flex;
    text-align: center;
}

@media (max-width: 1000px){
    .tipos img{ 
        width: 5em;
    }
    .grid div img{
        width: 6em;
    }
}
@media (max-width: 1000px){
    .tipos img{ 
        width: 3em;
    }
    .tipos{
        margin-bottom: 1em;
    }
    .tipos h4{
        flex-shrink: 0;
        font-size: 0.8em;
    }
    .grid div img{
        width: 4em;
    }
    .grid h4{
        font-size: 0.8em;
    }
    .grid h3{
        font-size: 0.8em;
    }
}