.sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
.sessao h1{
    font-family: 'LuckiestGuy';
    font-size: 2em;
    letter-spacing: 0.1em;
    color: #EDAB46;
    margin: 0;
    margin-bottom: 1em;
}
.tipos{
    display: flex;
    gap: 4em;
}
.tipo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tipo h4{
    font-size: 1.1em;
}
.sessao img{
    width: 8em;
    background-color: #EDAB46;
    padding: 1em;
    border-radius: 50%;
    animation: linear;
    cursor: pointer;
}
.sessao img:hover{
    scale: 1.1;
    transition: 0.5s;
}