@import "css/header.css";
@import "css/apresentacao.css";
@import "css/cachorros.css";
@import "css/sessao.css";
@import "css/avaliados.css";
@import "css/footer.css";

@font-face {
  font-family: LuckiestGuy;
  src: url(fonts/LuckiestGuy-Regular.ttf);
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  display: none;
}
body{
  margin: 0 16%;
  font-family: Helvetica, sans-serif;
}
*{
  text-decoration: none;
}
.elipse{
  position: absolute;
  z-index: -1;
}
