header{
  background-color: #EDAB46;
}
body{
  background-color: #fff;
  background-image: url(../../css/img/fundo.png);
  background-size: cover;
}
h5 {
    padding: 0 0 0 0;
    margin: 0;
}

h4 {
    font-size: 30px;
    font-weight: bolder;
}

h3 {
    text-align: center;
}

nav {
    font-size: 0.8rem;
}

input[type="checkbox"]:checked + .checkbox-custom {
    color: #FFC145;
    border-color: #FFC145;
    background-color: #FFC145;
  }
  

.filter {
    display: flex;
    gap: 2em;
    justify-content: space-between;
}

.carrinho{
  height: 2rem;
}

#menu-filter {
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 0.6em;
  position: sticky;
  top: 14em;
}

.grid {
    width: 50%;
    margin: 0 auto;
}

#products a{
    color: black;
}

.grid-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 75px;
    padding: 1em 0;
    height: 60vh;
    overflow: scroll;
}

.cards {
    display: flex;
    align-items: center;
    width: 10em;
    gap: 0.4em;
    flex-direction: column;
    border-radius: 0.5em;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #ccc; 
    padding: 1em;
  }
  
  .cards img {
    width: 8em;
  }
  
  .cards h4,
  .cards h3 {
    margin: 0;
  }
  
  .cards a {
    padding: 0.8em 2em;
    border-radius: 1em;
    margin: 0.5em;
    background-color: #FFC145;
  }
  .cards a:hover {
    background-color: #EDAB46;
  }

  @media (max-width: 1000px) {
    #menu-filter {
        top: 8em; /* Ajuste conforme necessário */
    }

    .grid {
        width: 80%; /* Ajuste conforme necessário */
    }

    .grid-products {
        grid-template-columns: repeat(2, 1fr); /* Ou outra configuração para duas colunas */
    }
}


@media (max-width: 700px) {
    #menu-filter {
        top: 6em;
    }
    .grid {
        width: 90%;
    }
    .grid-products {
        grid-template-columns: 1fr;
    }
}