header{
    background-color: #EDAB46;
}
body{
    background-color: #f3f2f2;
    background-image: url(../../css/img/fundo.png);
    background-size: cover;
}
.carrinho{
    display: flex;
    width: 100%;
    gap: 1em;
}
.div-products{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.products{
    flex-shrink: 0;
    grid-template-columns: 1fr 5fr;
    display: grid;
    border-radius: 0.5em;
    padding-right: 1em;
    box-shadow: 0.2em 0.2em 0.5em #00000080;
    background-color: #E8E6E6;
}
.products img{
    width: 8em;
    grid-row: span 2;
}
.quantity-price{
    width: 100%;
    display: flex;
    gap: 2em;
    font-weight: 600;
    justify-content: end;
}
.address-order{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 0.5em;
    gap: 0.6em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.2em 0.5em #00000080;
    background-color: #E8E6E6;
}
.address-order h2{
    text-align: center;
    margin: 0;
}
.address-order p{
    font-size: 0.8em;
    margin: 0.2em 0;
}
.background{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    padding: 0.1em 1.2em;
    background-color: #fff;
}
.total{
    font-weight: 600;
    text-align: end;
}
.total:nth-child(2){
    color: #15B11B;
}
.btns{
    margin: 0.5em;
    align-self: center;
    width: 60%;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}
.btns .buy{
    text-align: center;
    flex-shrink: 0;
    font-size: 0.8em;
    border-radius: 1.5em;
    padding: 0.5em 1.2em;
    color: #000;
    box-shadow: 0.2em 0.2em 0.5em #00000060;
    background-color: #fff;
}
.btns a{
    text-align: center;
    flex-shrink: 0;
    font-size: 0.8em;
    border-radius: 1.5em;
    padding: 0.5em 1.2em;
    color: #fff;
    box-shadow: 0.2em 0.2em 0.5em #00000060;
    background-color: #e69925;
}

@media (max-width: 1000px) {
    body {
        background-size: contain;
    }

    .btns {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .btns {
        width: 90%; 
    }

    .products {
        grid-template-columns: 1fr;
    }
}