.alert{
    width: 10em;
}
.fechar{
    width: 2em;
    position: absolute;
    margin-left: 22em;
    margin-top: -16em;
    cursor: pointer;
}
.confir_cartao{
    position: fixed;
    z-index: 2;
    top: 10em;
    left: 36%;
    width: 20%;
    height: 30%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    color: #fff;
    box-shadow: 0em 0em 20em 50em #00000080;
    background-color: #EDAB46;
}
.confir_cartao div{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.comprar_efetu h1{
    margin: 0;
}
.confir_cartao a{
    padding: 0.6em 1.6em;
    font-size: 1em;
    border-radius: 1em;
}
.confir_cartao .sim {
    background-color: #51A111;
}
.confir_cartao .nao{
    background-color: #ED4646;
}
.comprar_efetu{
    position: fixed;
    z-index: 2;
    top: 10em;
    left: 36%;
    width: 20%;
    height: 30%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
    color: #fff;
    box-shadow: 0em 0em 20em 50em #00000080;
    background-color: #51A111;
}
h1{
    margin: 0;
    text-align: center;
}
.comprar_n_efetu{
    position: fixed;
    z-index: 2;
    top: 10em;
    left: 36%;
    width: 20%;
    height: 30%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    padding: 1em;
    color: #fff;
    box-shadow: 0em 0em 20em 50em #00000080;
    background-color: #ED4646;
}
.cartao_cadas{
    display: none;
    position: fixed;
    z-index: 2;
    top: 10em;
    left: 36%;
    width: 20%;
    height: 30%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    color: #fff;
    box-shadow: 0em 0em 20em 50em #00000080;
    background-color: #EDAB46;
}
